
body {
  width: 100%;
  height: 80%;
  margin-top: 1%;
}
head {
  width: 100%;
  margin-top: 1%;
}


html {
  width: 100%;
  height: 100%;
}

.navbar {
  border: 0;
  z-index: 9999;
  letter-spacing: 4px;
  list-style-type: square;
  text-align: center;
  margin: 0;
  padding: 0;
  position: fixed;
  top: 0;
  left: 0;

}
.logo {
  display: block;
  height: auto;
  width: 100px;
  padding-top: 15px;
  margin-right: 15px;
  float: right;
}

.navbar-brand>img {
height: 100%;
padding: 15px; /* firefox bug fix */
width: auto;
}
.navbar .nav > li > a {
line-height: 50px;
}

.navbar-header{
  width: 100%;
}


.navbar-left{
  color: rgb(239, 240, 238);
  font-size: 20px;
  border: #8BC34A;
  background-color: rgba(5, 85, 22, 0.685);
}
.navbar-header h1 {
  letter-spacing: 1px;
  color: seagreen !important;

  font-family: 'Lobster Two', cursive;
}

.navbar li a, .navbar {
  color: black !important;
  font-size: 20px;
  transition: all 0.6s 0s;
  display: inline-block;
  padding-top: 15px;
  margin-right: 10px;
  margin-top: 10px;
}

.navbar-toggle {
  background-color: transparent !important;
  border: 0;
}

.navbar-nav li a:hover, .navbar-nav li.active a {
  color: rgb(202, 126, 96) !important;
}


.navbar li  {
  display: inline-block;
  font-size: 20px;
  padding: 2px;
  background-color: #8BC34A;
  text-decoration: none;
  display: inline-block;
}

a:link, a:visited, button {
  padding: 15px 15px 15px 15px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
}

