* {
    font-size: 12px;
    font-family: 'Times New Roman';
}

td,
th,
tr,
table {
    border-top: 1px solid black;
    border-collapse: collapse;
}

td.description,
th.description {
    width: 75px;
    max-width: 75px;
}

td.quantity,
th.quantity {
    width: 45px;
    max-width: 45px;
    word-break: break-all;
}

td.price,
th.price {
    width: 45px;
    max-width: 45px;
    word-break: break-all;
}

.centered {
    text-align: center;
    align-content: center;
}

.ticket {
    width: 165px;
    max-width: 165px;
}

img {
    max-width: inherit;
    width: inherit;
}

@media print {
    .hidden-print,
    .hidden-print * {
        display: none !important;
    }
}

#bill-tot{
    float: right;
    font-size: 20px;
}

#tot-name{
    float: center;
    font-size: 20px;
}