<!DOCTYPE html>
<html>
  <head>
    <title>ProductBarcode</title>
    <link href="" rel="stylesheet">
    <script>if (typeof module === 'object') {window.module = module; module = undefined;}</script>
    <script src='../js/jquery-3.4.1.min.js'> </script>
    <link rel="stylesheet" type="text/css" href="../css/newProd.css">
    <link rel="stylesheet" type="text/css" href="../css/newProduct.css">
    <link rel="stylesheet" type="text/css" href="../css/common.css">
    <script src='../js/barCode.js'></script>


            <img id="myimg">
            <pre id="output"></pre>


   
  

    </head>
    </html>