<!DOCTYPE html>
<html>
  <head>
    <title>ProductBarcode</title>
    <link href="" rel="stylesheet">
    <script>if (typeof module === 'object') {window.module = module; module = undefined;}</script>
    <script src='../js/jquery-3.4.1.min.js'> </script>
    <script type="text/javascript" src="jspdf.plugin.addimage.js"></script>
    <script src='../js/barCode.js'></script>

         <div id="barcode">
            <img id="myimg">
            <table><tr>
              <td><div id="titl"></div></td>
              <td><div id="price"></div></td>
              </tr>
              </table>
            <pre id="output"></pre>
            <a class="button" id="anchor" download="Prodcut.jpg">Download Barcode</a>
          </div>

   
  

    </head>
    </html>