<html>


	<head>
		<meta charset="UTF-8">
		<title> Oishii - Fine Japanese Cuisine</title>
		<meta name="description" content="Oishii - Fine Japanese Cuisine ">
 
        <script>if (typeof module === 'object') {window.module = module; module = undefined;}</script>
        <script src="../js/jquery-3.4.1.min.js"> </script>
        <script src="../js/mainWindow.js"> </script>
        <link rel="stylesheet" type="text/css" href="../css/mainWindow.css">  
        
			<meta name="viewport" content="width=device-width, initial-scale=1">

	</head>
	<body>

<nav class="navbar navbar-default navbar-fixed-top">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse"
                    data-target="#myNavbar">
                <span class="glyphicon glyphicon-menu-hamburger"></span>
            </button>
           
          
         <div class="navbar-left logo"> 
       <svg version="1.1" id="Layer_1" x="0px" y="0px"
	 viewBox="0 0 291 385.3" style="enable-background:new 0 0 291 385.3;" xml:space="preserve">
<style type="text/css">
	.st0{fill:#8BC34A;}
</style>
<polygon class="st0" points="82.1,12 7.4,138.7 38.7,237.3 "/>
<polygon class="st0" points="92.7,5.3 199.4,8.7 223.4,82.7 "/>
<polygon class="st0" points="89.4,8.7 223.4,86.7 42.1,237.3 "/>
<polygon class="st0" points="206.1,15.3 262.7,66 228.1,82.7 "/>
<polygon class="st0" points="262.7,70 228.1,86 266.4,175.3 "/>
<polygon class="st0" points="228.1,92.7 262.7,179.3 173.4,328 "/>
<polygon class="st0" points="223.4,92.7 44.7,240 167.7,336 "/>
<polygon class="st0" points="252.1,210.3 184.4,380.3 170.7,339.7 "/>
<polygon class="st0" points="60.1,260.3 167.4,341 180.4,380.3 "/>
</svg> <li id="login-name"></li> 
 <h1 class="brand brand-name navbar-left"><div class="navbar-left">SV-MART</h1>
          </div>
       
         
                <li><a href="#intro">Home</a></li>
   				<li><a id="make-bill-btn" href="#about">Make a Bill</a></li>
                <li><a id="prod-index-btn" href="#portfolio">Products</a></li>
                <li><a id="logout-btn" href="#contact">Logout</a></li>

     
        </div>
        
    </div>
</nav>