<html>


		<meta charset="UTF-8">
		<title> Oishii - Fine Japanese Cuisine</title>
		<meta name="description" content="Oishii - Fine Japanese Cuisine ">
 
        <script>if (typeof module === 'object') {window.module = module; module = undefined;}</script>
        <script src="../js/jquery-3.4.1.min.js"> </script>
        <script src="../js/mainWindow.js" > </script> 
        <link rel="stylesheet" type="text/css" href="../css/mainWindow.css">        
			<meta name="viewport" content="width=device-width, initial-scale=1">

	<head>

<nav class="navbar navbar-default navbar-fixed-top">
    <div class="container">
        <div class="navbar-header">

           
          

<div class="navbar-left">SV-MART
       
       
         
                <li><a href="#intro"> <div id="login-name"></div> </a></li>
   				<li><a id="make-bill-btn" href="#about">Make a Bill</a></li>
                <li><a id="prod-index-btn" href="#portfolio">Products</a></li>
                <li><a id="logout-btn" href="#contact">Logout</a></li>

     
        </div>
        
    </div>
</nav>