<html>
        
         <script>if (typeof module === 'object') {window.module = module; module = undefined;}</script>
        <script>if (typeof module === 'object') {window.module = module; module = undefined;}</script>
        <script src="../js/jquery-3.4.1.min.js"> </script>
         <script src="../js/newBill.js"></script>
          <script>
            $(document).ready( function(){
              document.getElementById("search-bar").focus(); 
              document.getElementById('invoice').value = Date.parse(new Date().toString())/100;
              document.getElementById('inv-date').value = new Date().toString()
            });
        
          </script>
        <link rel="stylesheet" type="text/css" href="../css/common.css"> 

<head>
  <table  width="100%" border="0" >
      <tr>
        <td width="50%">
            <button id="home-btn" type="button">Home</button>
            <button id="reload" type="button">Reload</button>
</td>

  <td>
    <label name="INVOICE">Invoice#</label>
    <input type="text" id="invoice" placeholder=""  size="6" height="80" backgroun-color="#F5F9A6">
  </td>
  <td>
  <label name="Date">Date</label>
    <input type="text" id="inv-date" placeholder=""  size="8" height="80">
  </td>
<td>
  <label name="BillTotal", >Total Amount</label>
    <input type="number" id="bill-total" placeholder="0"  size="8" height="80">
  </td>


</tr>
    </table></head> 
<style>
  #invoice #inv-date{
    font-size: 15px;
  }
</style>

 <body>
    <table  width="100%" border="0" >
      <tr>
        <td width="50%">
  <form class="search-container">
    <input type="text" id="search-bar" placeholder="Search....."  size="150" height="80">
  </form>
</td>

<td>
  <label name="Customer", >Customer Name</label>
    <input type="text" id="cust-name" placeholder=""  size="8" height="80">
  </td>
<td>
  <label name="Phone">Phone Number</label>
    <input type="text" id="cust-phone" placeholder=""  size="8" height="80">
  </td>
  <td>
    <label name="address">Address</label>
    <input type="text" id="cust-address" placeholder=""  size="8" height="80">
  </td>
  <td>
    <label name="Amount Paid", >Amount Paid</label>
    <input type="number" id="amt-paid" placeholder="0"  size="8" height="80">
    <label name="balance", >Balance Due</label>
    <input type="number" id="bal-due" placeholder="0"  size="8" height="80">
  </td>

</tr>



  
    </table>

<table class="prod-table"  width="100%" border="0|1" style=" border-collapse: collapse;" >
    <tr>
        <th>No.</th>
        <th>ProdCode</th>
        <th>Title</th>
        <th>Price</th>
        <th>GST Tax</th>
        <th>Discount</th>
        <th>Quantity</th>
        <th>Value</th>
        <th>Discounted Value</th>
        <th>Actions</th>
        </tr>
        <tbody id="inv-prod"></tbody>
    </table>
<div class="print-btn">
    <button id="save-bill" type="submit">Save</button>
  <button id="btn-print" type="submit">Print</button>
</div>
</body>

</html>