<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <link rel="stylesheet" href="../css/printBill.css">
        <script src="../js/printBill.js"></script>
        <title>Bill</title>
    </head>
    <body>
        <div class="ticket">
           
            <img src="../imgs/logo.png" alt="Logo" size="10x10">
            <p class="centered">SRI VENKATESHWARA<br/> MINI MART
                <br>MADDUR
                <br>9985204155, 9985204155</p>
            <table>
                    <div id="bill-date"></div>
                <thead>
                    <tr>
                        <th class="title">Title</th>
                        <th class="qty">Qty</th>
                        <th class="price">Rate</th>
                        <th class="discount">Disc</th>
                        <th class="Total">Total</th>
                    </tr>
                </thead>
                <tbody id="bill-items">
                  
                </tbody>
            </table>
            <table style="float: right; font-size: 25px;">
                 <td id="tot-name">Total:</td>   <td style="float: right; font-size: 25px;" ><div id="bill-tot"></div></td>
                 </table>
     <br/>
            <p class="centered">Thanks for your purchase!</p>


        </div>
    </body>
</html>