<html>
<script>if (typeof module === 'object') {window.module = module; module = undefined;}</script>
<script src="../js/jquery-3.4.1.min.js"> </script>
  <script src="../js/prodReport.js"></script>
  <link rel="stylesheet" type="text/css" href="../css/common.css"> 
  <button id="button-a">Download</button>
<div id="print-prod">
  <table id="prods-list-tbl" border="1" style=" border-collapse: collapse;">
    <tr>
        <th>Sno.</th>
        <th>ProdCode</th>
        <th>Title</th>
        <th>Desc</th>
        <th>ProdType</th>
        <th>SalePrice</th>
        <th>PurchPrice</th>
        <th>Discount</th>
        <th>Run.Stock</th>
        <th>SoldQty</th>
        <th>AvailQty</th>
        </tr>
        <div id="result"></div>
    </table>
</div>
  </html>