<html>
        
         <script>if (typeof module === 'object') {window.module = module; module = undefined;}</script>
       <script src="../js/jquery-3.4.1.min.js"> </script>
         <script src="../js/reports.js"></script>
         <link rel="stylesheet" type="text/css" href="../css/common.css"> 


         <button id="home-btn" type="button">Home</button>

         <button id="prod-list" type="button">Products</button>

         <button id="prod-list-top" type="button">Top Selling 100 Products</button>

         <button id="today-bill" type="button">Today's Bills</button>

         <button id="month-bill" type="button">This Month Bills</button>

         <button id="fy-bill" type="button">FY Bills</button>

<br/>
<br/>
         <table>
            <tr><td><h2>Search Bills by date</h2></td></tr>
            <tr><th>From Date</th>
                <th>To Date</th>
                </tr>
                <tr>
                <td><input id="frm-date" text="from-date"></td>
                <td><input id="to-date" text="to-date"></td>
            </tr>
           <tr>
        <td>
            <button id="bill-dates" type="button">Go</button></td>
           </tr>
            </table>

</html>